VITE_SUPABASE_URL=https://dfrifjkwgkcksaypseji.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_kf1icrpggsEp91pfQYVMaA_Ml8y2nTd

# Solo local, para los scripts de /scripts. NUNCA en Vercel ni con prefijo VITE_
DATABASE_URL=postgresql://postgres:TU_PASSWORD@db.TU-PROYECTO.supabase.co:5432/postgres
